*{
    font-family: Poppins;
}
body{
    background-image: url("../images/indexWall.jpeg");
    /*height: 100%;*/
    background-size:cover;
}

.index .card{
    margin-top: 6%;
    max-width: 400px;
    min-height: 300px;
    background: #E9E9FF ;
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 21px;
    opacity: 0.6;
    font-family: 'montserrat', sans-serif;
    font-size:14px;
    padding: 5px;
}
input{
    padding:14px;
    width: 75%;
    border:none;
    outline:none;
    width:300px;
    font-family:montserrat;
    font-size: 12px;
    font-weight: 500;
    background-color:transparent;
    border-radius:1px;
    border-bottom: 1px solid rgb(5, 5, 5);
    margin-top: 10px;
}
button{
    width: 130px;
    height: 35px;
    background: #00362e 0% 0% no-repeat padding-box;
    border: 1px solid #448371;
    border-radius: 2px;
    opacity: 1;
    color:white;
    cursor: pointer;
    outline: none;
    transition: 0.5s ease;
    text-align: center;
    font-family: montserrat;
    margin-top: 10px;
}
button:hover {
    transform: scale(1.02);
}
a{
    color: inherit;
    /*font-size: 10px;*/
}
p{
    cursor: pointer;
}
i{
    margin-top: 20px;
}